data/distances/dtwnorm_2 filter=lfs diff=lfs merge=lfs -text
data/distances/dtwnorm_1z_normalizeTruel0.2-43544539162478229291.csv filter=lfs diff=lfs merge=lfs -text
data/distances/dtwnorm_2z_normalizeTruel0.2-43544539162478229291.csv filter=lfs diff=lfs merge=lfs -text
